body {
  font-family: 'Roboto', sans-serif;
}

/* Section styling */
.description {
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  text-align: justify;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  line-height: 1.8;
}
